<!DOCTYPE html>
<html dir="ltr" lang="en-US" class="{{site.namespace}}">
	<head>
		{% include options/settings.html %}
		{% include options/meta.html %}
		{% include options/styles.html %}
		{% include options/scripts.html %}
	</head>
	<body class="white">
		<header class="header">
			{% include content/nav.html %}
		</header>


		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<section class="section">
							<div class="text-center compact-margins">
								{% if page.heading %}<h1 class="h2">{{page.heading}}</h1>{% endif %}
								{% if page.subheading %}<p class="text-light text-italic text-large">{{page.subheading}}</p>{% endif %}
							</div>
						</section>
						<section class="section">
							{% if page.align %}<div class="text-{{page.align}}">{% endif %}
								{{ content }}
							{% if page.align %}</div>{% endif %}
						</section>
					</div>
				</div>
			</div>
		</div>

		{% include content/footer.html %}
	</body>
</html>
